.fourth {
  background-color: hsl(219, 29%, 14%);
  border-radius: 0.8rem;
  padding: 2.4rem;
  max-width: 37.5rem;
}

.profile-div-blackish {
  gap: 1.8rem;
  display: flex;
  margin-bottom: 2.4rem;
}

.profile-image-blackish {
  width: 3.3rem;
  border-radius: 3.3rem;
  border: 0.1rem solid hsl(0, 0%, 81%);
}

.name-blackish {
  color: hsl(210, 46%, 95%);
  font-size: 1.4rem;
  font-weight: 500;
}

.status-blackish {
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 1.3rem;
  font-weight: 500;
}

.info-blackish {
  color: hsl(210, 46%, 95%);
  font-size: 2rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.description-blackish {
  font-size: 1.4rem;
  color: hsl(210, 46%, 95%);
  opacity: 70%;
  font-weight: 600;
}
