.first {
  background-color: hsl(263, 55%, 52%);
  border-radius: 0.8rem;
  padding: 2.4rem;
  max-width: 37.5rem;
  position: relative;
}

.profile-div {
  gap: 1.8rem;
  display: flex;
  margin-bottom: 2.4rem;
}

.profile-image {
  width: 3.3rem;
  border-radius: 3.3rem;
  border: 0.1rem solid hsl(0, 0%, 81%);
}

.name {
  color: hsl(210, 46%, 95%);
  font-size: 1.4rem;
  font-weight: 500;
}

.status {
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 1.3rem;
  font-weight: 500;
}

.info {
  color: hsl(210, 46%, 95%);
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.description {
  font-size: 1.4rem;
  color: hsl(210, 46%, 95%);
  opacity: 70%;
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .first {
    background-color: hsl(263, 55%, 52%);
    padding: 3.2rem;
    max-width: 50%;
    height: 37rem;
  }

  .info {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.8rem;
  }
}
