.second {
  background-color: hsl(217, 19%, 35%);
  border-radius: 0.8rem;
  padding: 2.4rem;
  max-width: 37.5rem;
}

.profile-div-grey {
  gap: 1.8rem;
  display: flex;
  margin-bottom: 2.4rem;
}

.profile-image-grey {
  width: 3.3rem;
  border-radius: 3.3rem;
  border: 0.1rem solid hsl(0, 0%, 81%);
}

.name-grey {
  color: hsl(210, 46%, 95%);
  font-size: 1.4rem;
}

.status-grey {
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 1.3rem;
}

.info-grey {
  color: hsl(210, 46%, 95%);
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
}

.description-grey {
  font-size: 1.4rem;
  color: hsl(210, 46%, 95%);
  opacity: 70%;
}
